/*Profile Page*/


#profile-top img {
    width: 50%;
    object-fit: cover;
    /*margin:2px;*/

}

#edit-container {
    height: 100vh;
}

#profile-list-images img {
    width: 170px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    object-fit: cover;
    margin: 5px; /* Optional: Add a margin if you want some space between images */
}

/* Edit Profile Page */

#edit-input-container input {
    width: 100%
}
#edit-input-container #input-img{
    width:auto;
}

#edit-input-container h6{
    display:inline-block;
}

#profile-stats-container{
    padding-top:4%;
    width:100%;
    background-color:#b8b5ba;
}

#profile-stats-container div{
    margin-left:10%;
    padding-right:10%;
}

#reset-h1 {
    padding-top: 5%;
    text-decoration-line: underline;
}