#compare-images-div img{
    width:50%;

}

#advancedSearch-container button{
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-weight: 500;
    border: none;
    border-radius: 13px;
    box-shadow: 0 8px 15px rgb(0,0,0,0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}