.top input {
    border: 1px solid gray;
    border-radius: 13px;
    line-height: 150%;
    padding-left: 1em;
    width: 100%;
}

.search-bar__history{
    position:unset !important;
    padding:unset !important;
    width:250px !important;
}